    <!-- Page Header -->
	<header class="masthead parallax_bg" style="background-image: url('img/na.gif'); min-height: 100vh;">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="post-heading text-center">
						<h1>Page Not Found <br/> <span style='font-size:2em'>404</span></h1>
						<h2 class="subheading meta">What you search for is not found</h2>
						<br/><br/>
						<a class="btn btn-outline-light btn-block" href="#" onclick='changePage("index")' role="button">Home</a>
					</div>
					
				</div>
			</div>
		</div>
	</header>