	<!-- Page Header -->
	<header class="masthead parallax_bg" style="background-image: url('img/post3.gif'); min-height: 100vh;">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-12 mx-auto">
					<div class="post-heading text-center">
						<h1>Explore new horizon <span style='font-size: 1.5em;'>Modern Knowledge</span> </h1>
						<h2 class="subheading">What mysteriouds thing are waiting to be explored</h2>
						<span class="meta">Caption by
							<a href="#">L&S Library</a>
					</div>
				</div>
			</div>
		</div>
	</header>