    <!-- Page Header -->
	<header class="masthead parallax_bg" style="background-image: url('img/post_index.gif'); min-height: 100vh;">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>L&S Library</h1>
						<span class="subheading">A Little bookmark of L&S</span>
					</div>

					<a class="btn btn-outline-light btn-block" href="#" onclick="changePage('post')" role="button">Explore</a>
				</div>
			</div>
		</div>
	</header>