<!-- Page Content -->
<style>
    .article-img{
        width: 100%;
        height: 20vh;
    }
</style>

<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">Article Overview <br/>
        <small>Let's digging in the world of knowledge</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="img/ai1.gif" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Article Description</h3>
            <p>In these sectioncs, We will dicuss about the the key definition of Artificial Intelligence, Machine Learning and Mathematics which related to those domain. 
                In addition, the writter's pratical experience and lessons will be shared during the blog series</p>
            <h3 class="my-3">Domain Related</h3>
            <ul>
                <li>Artificial Intelligence</li>
                <li>Machine Learning</li>
                <li>Deep Learning : Computer Vision</li> 
                <li>Linear Algebra and Discrete Mathematics</li>
            </ul>
        </div>

    </div>
    <!-- /.row -->

    <!-- Related Projects Row -->
    <h3 id='main-article' class="my-4">Related Articles</h3>

    <div class="row">

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#" onclick="changePage('post/ml/intro')">
                <img class="img-fluid article-img" src="img/ml1_1.gif" alt="">
            </a>
            <b class='text-center'><small>What is Artificial Intelligence</small></b>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#" onclick="changePage('post/ml/lr_1')">
                <img class="img-fluid article-img" src="img/ml2_1.gif" alt="">
            </a>
            <b class='text-center'><small>Machine Learning : Linear Regression 1</small></b>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#" onclick="changePage()">
                <img class="img-fluid article-img" src="img/ml3_1.gif" alt="">
            </a>
            <b class='text-center'><small>Machine Learning : Gradient Descent</small></b>
        </div>

        <div class="col-md-3 col-sm-6 mb-4">
            <a href="#" onclick="changePage()">
                <img class="img-fluid article-img" src="img/ml4_1.gif" alt="">
            </a>
            <b class='text-center'><small>Machine Learning : Linear Regression 2</small></b>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->