    <!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">
				<div class="post-preview" id='first-content'>
					<a href="#" onclick="changePage('post/ml')">
						<h2 class="post-title">
							Artificial Intelligence, Machine Learning and Mathematics
						</h2>
						<h3 class="post-subtitle">
							It may be more interesting than you expected...
						</h3>
						<img class='blog_img' src='img/Machine-Learning.gif'>
					</a>
					<p class="post-meta">Owned by
						<a href="#">Liem Doan</a>
						from September 24, 2019
					</p>
				</div>

				<hr>

				<div class="post-preview">
					<a href="#" onclick="changePage('post/oop')">
						<h2 class="post-title">
							Design Pattern , Object-oriented Programming and Data Structures
						</h2>
						<h3 class="post-subtitle">
							The funadamental basis of all coders and programmers
						</h3>
						<img class='blog_img' src='img/oop.gif'>
					</a>
					<p class="post-meta">Owned by
						<a href="#">Liem Doan</a>
						from September 24, 2019
					</p>
				</div>

				<hr>

				<div class="post-preview">
					<a href="#" onclick="changePage('post/web')">
						<h2 class="post-title">
							Amazing journey of a humble Web Developer
						</h2>
						<h3 class="post-subtitle">
							The dear diary of a guy on his journey to become full-stack developer
						</h3>
						<img class='blog_img' src='img/web.gif'>
					</a>
					<p class="post-meta">Owned by
						<a href="#">Liem Doan</a>
						from September 24, 2019
					</p>
				</div>

				<hr>

				<div class="post-preview">
					<a href="#" onclick="changePage('post/other')">
						<h2 class="post-title">
							What I find interesting in daily life
						</h2>
						<h3 class="post-subtitle">
							Natural science and strange phenomenon which I have seen.
						</h3>
						<img class='blog_img' src='img/meme.gif'>
					</a>

					<p class="post-meta">Owned by
						<a href="#">Liem Doan</a>
						from September 24, 2019
					</p>
				</div>

				<hr>

				<!-- Pager -->
				<div class="clearfix">
					<a class="btn btn-primary btn-block" href="#post-top">Top &rarr;</a>
				</div>
			</div>
		</div>
	</div>

	