<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<h2 class="section-heading">Who am I</h2>
			<p>First of all, I am Liem Doan which is one of the co-owner of this little blog. In 2021, 
				I am the third-year student of The Vietnam National University of Science HCMC. My primary major are computer science and mathematics </p>
			<p>Talinking a little about myself, my dream occupation is Full-stack AI Developer who can gather the data, 
				train all models and deploy them into pratical usage in software indutry. 
			</p>

			<img class='img-responsive img-fluid' src='img/about3.gif' style='width:100%'>
			<span class="caption text-muted">A closer look at how machine learing algoritms work</span>


			<p>In addition, I also want to enhance my software engineer profession. I love working with snippets of OOP, Design Pattern, Software ASrchitecture and so on.
				Honestly, My biggest ambition is to become a Senior Developer in Google.
			</p>
			<img class='img-responsive img-fluid' src='img/about2.gif' style='width:100%'>
			<span class="caption text-muted">An simple illustration of a senior software developer</span>

			<h2 class="section-heading">What thing I can do</h2>
			<p>
				About skills and experience, I have join in a cinsiderable project in web development, some mobile project amd 
				a small number of Machine Learning applications 
			</p>
			<p>As a web developer, I have join in these project : </p>
			<ul>
				<li><a href='https://katacodecamp.com/'>Katacodecamp.com</a> as Laravel PHP Backend Developer</li>
				<li><a href='http://ieltstinder.com/public/'>IeltsTinder.com</a> as Laravel PHP Backend Developer</li>
				<li><a href='http://tokyohealth.epizy.com/'>tokyohealth.com</a> as Plain PHP Backend Developer</li>
			</ul>

			<p>As a software developer</p>
			<ul>
				<li><a href='http://autodoor.eco-idea.vn/'>autodoor.eco-idea.vn/</a> as Laravel PHP Full-stack and IOT Developer</li>
				<li><a href='#'>SiameseFaceVerification</a> as AI Engineer and Full-stack Developer</li>
				<li><a href='#'>Plane - An android game</a> as Mobile Developer</li>
				<li><a href='#'>ARVisualizer - An AR mobile application</a> as Unity Developer</li>
			</ul>
		</div>
	</div>
</div>